# dependencies
node_modules/

# turborepo
.turbo/

# next.js
.next/
out/

# production
build/

# env
.env
.env*.local
apps/web/.env
packages/db/.env

# database
data/

# playwright / e2e
apps/web/e2e-results/
apps/web/e2e/screenshots/
test-results/
playwright-report/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
